<div class="container p-4">
    <div class="row justify-content-center">
        <h1>Actualizar grupo</h1>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <form action="/grupos/actualizar" method="POST">
                <div class="form-group">
                    <input type="number" class="form-control" name="idgrupo" placeholder="ID Grupo" value="{{idgrupo}}" readonly />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="num_grupo" placeholder="Numero de grupo" maxlength="3"
                    minlength="1" value="{{num_grupo}}"/>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="anio" placeholder="Año"  value="{{anio}}"/>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="ciclo" placeholder="Ciclo"  value="{{ciclo}}"/>
                </div>
                <div class="form-group">
                    <select class="form-control" name="idmateria">
                        {{#each lstMaterias}}
                        <option value= "{{idmateria}}" {{#eq idmateria 3 }}selected{{/eq}}>
                            {{materia}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="idprofesor">
                        {{#each lstProfesores}}
                        <option value="{{idprofesor}}" {{#eq idprofesor ../idprofesor}}selected{{/eq}}>
                            {{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>